.header {
    display: flex;
    flex-direction: row;
    background-color: lightblue;
    justify-content: space-between;
    margin: 0;
    padding: 2px 50px;
    height: 60px;
    color: white;
    background-image: url('../../thumbnails/patterns/darkBluePattern.jpg');
    background-blend-mode: multiply;
    background-size: cover;
}


