.aboutme{
   margin: auto;
   max-width: 500px;
}

.aboutme h2{
    font-size: 32px;
    margin: 0;
    padding: 0;
}
p{
    line-height: 8px;
    text-align: left;
}
.title-container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.title-container .Icon{
    margin-left: 20px;
}
