.eduandskills {
  max-width: 1100px;

}
.education{
  margin-bottom: 0;
  
}
.skill-icons {
  display: flex;
  justify-content: space-between;
  margin-left: 120px;
  margin-right: 120px;
  margin-top: 40px;
}
.skills-container{
  padding-bottom: 20px;
}